table {
  width: 100%;
  text-align: left;
  margin: 0 auto;
}

.coluna {
  font-size: 0.85em;
}

.titulo {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #3f51b5;
  font-weight: 600;
  padding-left: 0px 10px;
}

#novoContrato {
 float:right;
}

.filtro{
  margin-right: 10px;
}

.botao{
  margin-left: 30px;
}

.example-margin {
  margin: 0 17px;
}
